* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.background {
    background-image: url("../images/4FBEA00C-2EEA-44BE-B5E7-CFDAD1D4449A_1_102_o.jpeg");
    background-color: rgb(91, 238, 245);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    }

.backgroundColor {
  background-color: rgb(3, 75, 75);
  background-size: cover;
  min-height: 100vh;
}

.backgroundYoga {
    background-image: url("../images/E43BA85A-7496-4FBC-8C06-1B0DB9F31464_1_102_o.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.backgroundMusic {
  background-color: rgb(91, 238, 245);
}

.hamMenu {
  height: 50px;
  width: 50px;
  margin:auto;
  position: relative;
}

.hamMenu span {
  height: 5px;
  width: 100%;
  background-color: rgb(246, 3, 173);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
  animation: fadeIn 5s;
}

.hamMenu span:nth-child(1) {
  top: 25%;
}

.hamMenu span:nth-child(3) {
  top: 75%;
}

.hamMenu.active span {
  background-color: rgb(246, 3, 173);
}

.hamMenu.active span:nth-child(2) {
  opacity: 0;
}

.hamMenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamMenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}
/* 
nav {
  padding: 1rem;
  display: flex;
  background-color: rgb(3, 75, 75);
} */

.offScreenMenu {
  background-color: rgb(3, 75, 75);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: .3s ease;
}

.offScreenMenu.active{
  left: 0;
}

h1 {
    color: rgb(246, 3, 173);
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3rem;
    font-size: 6rem;
    padding-top: 75px;
 }

h2 {
  color: rgb(246, 3, 173);
  display: flex;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2rem;
  font-size: 3rem;
  padding-top: 50px;
}

.list {
  padding-top: 20px;
}

.fadeInHello {
    animation: fadeIn 5s;
  }

p {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-right: 200px;
  margin-left: 200px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
