.background {
    /* background-image: url("../images/B5FF2286-33AA-4D9F-9C5D-1C19F1376DFC_1_201_a.jpeg"); */
    background-color: rgb(91, 238, 245);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 300px;
  }

h1 {
    color: rgb(246, 3, 173);
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3rem;
    font-size: 3rem;
 }

.fadeInHello {
    animation: fade 5s ease-in;
  }
