.nav-link {
    color: #143b02;
    font-weight: bold;
    text-decoration: none;
  }
  
.nav-tabs {
    border: none;
  }

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 200px;
    animation: fade 1s ease-in;
    letter-spacing: .5rem;
}

a {
  color: rgb(246, 3, 173)
}


