.nav-link {
    color: rgb(246, 3, 173);
    font-weight: bold;
    text-decoration: none;
  }
  
.nav-tabs {
    border: none;
    background-color: rgb(3, 75, 75);
    padding-bottom: 50px;
  }

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    animation: fade 1s ease-in;
    letter-spacing: .5rem;
}

a {
  color: rgb(246, 3, 173)
}


